[Unit]
Description=Metal Radio
After=bt-autoconnect.service
Requires=bt-autoconnect.service

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /home/{user}/tui-radio/tui-radio.py --console
WorkingDirectory=/home/{user}/tui-radio
Restart=on-failure
Environment=TERM=xterm

[Install]
WantedBy=default.target
