[Unit]
Description=Metal Radio
After=bt-autoconnect.service
Requires=bt-autoconnect.service

[Service]
ExecStartPre=/bin/sleep 3
WorkingDirectory=%h/tui-radio
ExecStart=/usr/bin/python3 tui-radio.py --console
Restart=on-failure
Environment=TERM=xterm

[Install]
WantedBy=default.target
